body{
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.posei-btn{
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    min-height: 24px;
    border: 2px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 16px;
    line-height: 16px;
    background-color: #0093f9;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    -o-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    -ms-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}
.posei-btn:hover,.posei-btn:active,.posei-btn:after{
    color : white;
    text-decoration: none;
}
*{
    font-size: 12px; !important;
}
.z-button{
    font-size: 12px !important;
}
.error-txt{
    color: #ff0000 !important;
}
.z-page{
    padding: 0 !important;
    margin: 0 !important;
}
.login-page{
    background-color: dodgerblue;
}
.z-center-header,.z-west-header{
    padding: 10px !important;
    font-size: 12px !important;
    color: white;
    background-color: dodgerblue;
}
.z-borderlayout-icon {
    font-size: 12px !important;
    line-height: 16px; !important;
    color: white !important;
}
.z-west-collapsed,.z-west-collapsed:hover{
    color: white !important;
    background-color: dodgerblue;
}
.z-center-body,.z-west-body{
    padding: 0px !important;
}
.menu-top{
    position: fixed;
    margin-right: 20px;
    right: 0;
}
.simple-timer{
    font-size: 12px;
    padding: 2px;
    font-weight: bold;
    height: 16px;
}
.z-window-header,.z-window-close{
    color: white !important;
    background-color: dodgerblue;
}
.z-menuitem-text,.z-menu-text{
    font-size: 12px !important;
    min-width: 140px;
}
.z-menuitem-content{
    width: 100%;
}
.z-menubar ul li a{
    width: 100% !important;
}
.z-label{
    font-size: 12px;
}
.z-window{
    padding: 0px !important;
}
.z-window-header{
    padding-left: 8px;
    font-size: 14px !important;
    padding-top: 8px;
}
.z-row-content{
    padding: 5px !important;
}

.z-column-content{
    font-size: 12px !important;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.main-content{
    padding: 5px;
}
.z-label{
    font-weight: bold;
}
.z-row-content .z-label{
    font-weight: normal;
}
.menu-icon{
    padding: 3px;
    cursor: pointer !important;
}
.app-header{
    background-color: #FAFAFA;
}
.z-combobox-input, .z-bandbox-input, .z-datebox-input, .z-timebox-input, .z-spinner-input, .z-doublespinner-input{
    font-size: 12px; !important;
}
.z-textbox, .z-decimalbox, .z-intbox, .z-longbox, .z-doublebox{
    font-size: 12px;
}